body {
  background-color: pink;
}

.info{
  background-color: lightcyan;
  width: 300px;
  height: 400px;
  padding: 0px 40px 0px 20px;
  margin: 60px 0px 0px 570px;
}

.Formstyle {
  background-color: white;
  padding: 120px ;
  margin: 50px 700px;
  width: 220px;
  height: 380px;
}

.toggleBtn {
  padding: 20px 20px 0px 20px;
  margin: 0px 0px 0px 820px;
}

.forms {
    background-color: white;
    padding: 20px ;
    margin: 50px 700px;
    width: 220px;
    height: 380px;
  }
  
.myText{

  background-color: white;
  margin: 50px 700px;
  width: 250px;

}

.avatar{
height: 150px;
width: 150px;
}


.chat-message-left {
  background-color:yellow;
  margin-left: 0;
  margin-right: auto; /* Align to the left */
}

.chat-message-right {
  background-color: blue;
  margin-left: 20px, 30px, 40px, 50px; /* Align to the right */
  margin-right: 0;
}