body {
  background-color: pink;
}

.info{
  background-color: lightcyan;
  width: 300px;
  height: 400px;
  padding: 0px 40px 0px 20px;
  margin: 60px 0px 0px 570px;
}

.Formstyle {
  background-color: white;
  padding: 120px ;
  margin: 50px 700px;
  width: 220px;
  height: 380px;
}

.toggleBtn {
  padding: 20px 20px 0px 20px;
  margin: 0px 0px 0px 820px;
}

.forms {
    background-color: white;
    padding: 20px ;
    margin: 50px 700px;
    width: 220px;
    height: 380px;
  }
  
.myText{

  background-color: white;
  margin: 50px 700px;
  width: 250px;

}

.avatar{
height: 150px;
width: 150px;
}



.chat-message-right {
  align-self: flex-end;
  background-color: #d1f7c4; 
}


.chat-message-left {
  align-self: flex-start;
  background-color: #f1f1f1;
}
