body {
  background-color: pink;
  height: 500px;

}

.chat-container{
  background-color: white;
  width: 800px;
  height: 100%;
  margin-top: 5px;
  margin-left: 140px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.message-content{
  background-color: #f1f1f1;
  display: flex;
  margin-left: 550px;
  padding-left: 15px;
  padding-bottom: 20px;
}

.Container {
  display: flex;
  height: 800px;

}
.info{
  
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  
}

.Formstyle {
  background-color: white;
  padding: 120px ;
  margin: 50px 500px;
  width: 220px;
  height: 377px;
}

.toggleBtn {
  padding: 20px 20px 0px 20px;
  margin: 0px 0px 0px 650px;
}


.forms {
    background-color: white;
    padding: 120px ;
    margin: 50px 500px;
    width: 220px;
    height: 377px;
  }
  
.myText{

  background-color: white;
  margin: 50px 700px;
  width: 250px;

}

.avatar{
width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar-chat {
  margin-left: 745px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 20px;
}

.user-name {
  margin-left: 710px;
  font-weight: bold;
  
}


.message-fake {
  background-color: #f1f1f1;
  margin-right:550px;

}


.Bar {
  background-color: #ff00b7;

}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: lightpink;
  color: coral;
  transition: transform 0.2s ease;
  transform: translateX(-100%); 
}

.sidebar.open {
  transform: translateX(0); 
}

.sidebar.closed {
  transform: translateX(-100%);
}

ul {
  list-style-type: none;
  padding: 0;
}

li:hover {
  background-color: #575757;
}

